.user, .organizations, .courses {
    margin: 0 15% 2% 15%;
    background-color: #ecedf4;
}

.name {
    font-size: 24px;
    font-weight: 450;
}

.profile_picture {
    width: 10%;
    height: 10%;
}

mat-panel-title {
    font-size: 20px;
    font-weight: 450;
}

mat-list {
    width: 15em;
}

mat-list-item {
    margin-left: 0.5em;
    cursor: pointer;
    padding: 0.2em;
    border-radius: 4px;
}

mat-list-item:hover {
    background-color: #d9d9e1;
    transition-duration: 0.5s;
}
