.user, .organizations, .courses {
    margin: 0 15% 2% 15%;
    background-color: #f5f5f7;
}

.name {
    font-size: 24px;
    font-weight: 450;
}

.profile_picture {
    width: 10%;
    height: 10%;
}

mat-panel-title {
    font-size: 20px;
    font-weight: 450;
    padding-bottom: 2px;
}

mat-expansion-panel-header {
    padding-bottom: 2em;
}

mat-grid-tile {
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 50%), 0px 1px 1px 0px rgb(0 0 0 / 50%), 0px 1px 3px 0px rgb(0 0 0 / 50%);
}

mat-grid-tile:hover {
    transition-duration: 0.5s;
    background-color: rgb(228, 228, 250);
}

mat-grid-list {
    margin: 2%;
}
