mat-grid-list {
  margin: 0 7% 1% 7%; 
}

mat-grid-tile {
  cursor: pointer;
  background-color: #a8b5f8;
  border-radius: 4px;
}

mat-card {
  width: 80%;
  height: 60%;
}

.add-organization {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.organization li a {
    text-decoration: none;
    color: black;
}
.organization li:hover {
    color: #2c3a41;
    background-color: #3f51b5;
    left: .1em;
    transition-duration: 0.5s;
  }

.organization li:hover a{
    color: white;
    text-decoration: none;
}

.organization li:hover .id{
    background-color: white;
    color: #3f51b5;
}

.id {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#3f51b5;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.5em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }