<mat-grid-list cols="4" rowHeight="1.5:1" rowWeight="2:1">
  <h2>Organizations</h2>
  <mat-grid-tile *ngFor="let organization of organizations">
    <mat-card class="example-card" routerLink="/organizations/{{organization.facultyName}}">
      <mat-card-title>{{organization.facultyName}}</mat-card-title>
      <mat-card-subtitle>{{organization.universityName}}</mat-card-subtitle>
      <mat-card-content>
        <p>{{organization.city}}</p>
        <p>{{organization.contact}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="authService.$isAdmin" class="add-organization">
  <button mat-raised-button color="primary" routerLink="/add-organization">Add your organization here!</button>
</div>

