.comment{
    border-radius: 15px;
    margin: 0 7% 1% 7%;
    background-color: rgb(228, 236, 252);   
}

.mine {
    background-color: rgb(176, 199, 247);   
}

.image {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-right: 5px;
  }
  
  .userName {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 450;
  }